body {
    font-size: 16px;
    color: #245AB0;
    padding: 0;
    margin: 0;
    background: #011033;
}

canvas {
    position: fixed;
    left: 30%;
    top: -10%;
    //opacity: 0;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: #011033;
    z-index: 10;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    position: relative;
}

h1,
p {
    span {
        display: block;
    }

    font-family: elza,
    sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 123px;
    line-height: 0.9;
    margin: 10px 10px 10px 15px;

}

p {
    font-size: 20px;
    line-height: 1.2;
    margin-bottom: 15px;
}